[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "~=3.2"
djangorestframework = "~=3.12.4"
django-cors-headers = "~=3.7.0"
pyserial = "~=3.5"
channels = "~=3.0.3"
cobs = "~=1.1.4"
numpy = "~=1.21.0"
matplotlib = "~=3.4.2"

[dev-packages]
autopep8 = "*"
pylint = "*"
pylint-django = "*"

[requires]
python_version = ">=3.7"
